
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/ADBS.jpg" class="img-fluid">
      </div>
      <div class="card-footer">
          Lập trình java cơ bản
      </div>
  </div>
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/ASNE.png" class="img-fluid">
      </div>
      <div class="card-footer">
        Lập trình ASP.NET
      </div>
  </div>
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/JAAV.png" class="img-fluid">
      </div>
      <div class="card-footer">
          Lập trình java cơ bản
      </div>
  </div>
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/CLCO.jpg" class="img-fluid">
      </div>
      <div class="card-footer">
          Điện toán đám mây
      </div>
  </div>
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/LAYO.jpg" class="img-fluid">
      </div>
      <div class="card-footer">
          Thiết kế layout
      </div>
  </div>
  <div class="card float-left m-3" style="width: 15rem;">
      <div class="card-body">
          <img src="images/logos/PHPP.png" class="img-fluid">
      </div>
      <div class="card-footer">
          Lập trình PHP
      </div>
  </div>

