<div class="poly card mt-2">
  <div class="card">
    <div class="card body">
      <div class="row">
        <div class="col-5">
          <img
            src="images/shoppingcart.gif"
            alt=""
            class="img-fluid"
          />
        </div>
        <ul class="col-7">
          <li>100 Items</li>
          <li>$ 5.6</li>
          <li><a href="">View Cart</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <form action="">
        <input
          type="text"
          class="form-control"
          placeholder="keywords"
        />
      </form>
    </div>
  </div>
</div>